/* We are using CSS Grid in this project! The periodic table is made up of columns and rows, so it's perfect! */
/* The period table has: 18 columns & 7 rows (for the main table) */
.periodic-table_main {
  display: grid;
  width: 60%;
  grid-template-columns: repeat(18, 55px);
  grid-template-rows: repeat(10, 55px);
  grid-gap: 4px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  justify-content: center;
}

.element {
  background: white;
  border: 1px solid #aaa;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.element .number {
  font-size: 8px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.element .name {
  font-size: 8px;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.welcome {
  font-family: "Lobster", cursive;
  text-shadow: 2px 2px 2px white;
  font-size: 3.5rem;
  color: black;
  padding: 2%;
}